@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

ul,
ol,
li {
  list-style: none;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  height: 100%;
  background-color: lightgray;
}
