.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.letf-side {
  border-right: 1px solid grey;
}

.form-control {
  border: none;
}

.main-color {
  background: #c571f8;
  color: white;
}
.grey-color {
  background: #eee;
  color: #9f9f9f;
}

.container {
  margin-top: 35vh;
}
.input-group {
  border: none;
  background-color: #eee;
  padding: 8px;
  border-radius: 8px;
}
