#logo {
  width: 2rem;
}

#image {
  width: 200px;
  height: 200px;
  background-color: #eee;
}

.wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #f66d6d;
}

input[type="text"],
input[type="password"] {
  border: none;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#submit-btn,
#change-img-btn {
  color: white;
  background-color: #f66d6d;
}

#checkID {
  cursor: pointer;
}

#reset-pw {
  background-color: #f66d6d;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
