* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #c571f8;
}
.col-4 {
  /* background-color: rgb(255, 219, 219); */
  height: 85vh;

  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.gray {
  color: gray;
}
.my-photo,
.friend-photo,
.chat-photo {
  background-position: center;
  background-size: cover;
}
.my-photo {
  cursor: pointer;
}

.title {
  font-size: 2rem;
  color: #c571f8;
  font-weight: 500;
  text-align: center;
}
.container {
  height: 90%;
}
.nav-bar {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;

  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.my-photo {
  width: 2rem;
  height: 2rem;
  background-color: #eee;
  border-radius: 50%;
  margin: auto;
}

/* 친구목록 */
.friends-list-section {
  overflow-y: scroll;
  position: relative;
}

.friends-list-section::-webkit-scrollbar {
  display: none;
}

.friend-card,
.chat-card {
  display: flex;
  width: 100%;
  height: 2.5rem;
  border-bottom: 1px solid #ededed;
  margin-top: 0.5rem;
}

.friend-photo,
.chat-photo {
  width: 2rem;
  height: 2rem;
  background-color: #eee;
  border-radius: 50%;
}
.friend-description,
.chat-description {
  padding-left: 0.5rem;
}

.friend-status-msg,
.chat-status-msg {
  font-size: 0.5rem;
}
#remove-friend-1,
#start-chat-btn {
  width: 1rem;
  cursor: pointer;
}

#find-btn {
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 2%;
}
#remove-friend-btn {
  width: 1rem;
  cursor: pointer;
}

/* 채팅방목록 */
.chat-list-section {
  overflow-y: scroll;
}

.chat-list-section::-webkit-scrollbar {
  display: none;
}

.last-msg-time {
  color: #b9b9b9;
  font-size: 0.5rem;
}
.bubble {
  background-color: rgb(255, 81, 81);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  color: white;
  font-size: 0.7rem;
  line-height: 1.5rem;
  display: none;
}

/* 채팅창 */

#send {
  cursor: pointer;
}

#emoji-btn {
  cursor: pointer;
}

.chat-room-section {
  position: relative;
}
.input-wrap {
  position: absolute;
  bottom: 0;
  width: 90%;
}
.chat-room-menu {
  display: flex;
}
.chat-room-title {
  padding-left: 1rem;
}

.chat-msg-box {
  height: 80%;
  overflow-y: scroll;
}
.chat-msg-box::-webkit-scrollbar {
  display: none;
}
.chat-msg {
  padding: 0.5rem;
}
.chat-name {
  cursor: pointer;
}

.other {
  background: #ededed;
  border-radius: 15px 15px 15px 5px;
  max-width: 80%;
  float: left;
}
.chat-time {
  font-size: 0.5rem;
}
.chat-time-other {
  float: left;
}
.chat-time-mine {
  float: right;
}
.clear {
  clear: both;
}

.mine {
  background: #c571f8;
  border-radius: 15px 15px 5px 15px;
  max-width: 80%;
  float: right;
}
#chat-input {
  background: #ededed;
  border-radius: 10px;
  border: none;
  width: 80%;
  height: 2rem;
}

/* 모달 */
.search-modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.164);
  position: fixed;
  top: 0;
}

.modal-content {
  width: 50vw;
  height: 60vh;
  background-color: white;
  margin: auto;
  margin-top: 5vh;
}

#add-btn {
  float: right;
  cursor: pointer;
}

.list-group {
  max-height: 100%;
  overflow-y: scroll;
}

.emoji-box {
  display: flex;
  position: absolute;
  width: 80%;
  /* height: 30%; */
  background-color: #eee;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}

.emoji-btn {
  padding: 1rem;
  cursor: pointer;
  /* height: 10%; */
}
#emoji-box-btn {
  cursor: pointer;
}
.emoji-btn:hover {
  background-color: rgb(136, 136, 136);
}
