* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}
ul,
ol,
li {
  list-style: none;
}
html {
  height: 100%;
  font-size: 100%;
}
body {
  height: 100%;
}

.header {
  width: 100%;
  height: 50%;
  background-image: url("../../images/유민이.jpg");
  background-size: 100% 100%;
  .content {
    text-align: center;
    padding-top: 120px;
    color: white;
  }
  h1,
  h3 {
    font-weight: bold;
  }
}

.login {
  width: 100%;
  height: 100%;
  background-color: black;
  > .login__title {
    padding-top: 50px;
    color: white;
    text-align: center;
  }
  > .login-form {
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    > input {
      background-color: #222225;
      color: white;
      height: 50px;
      margin-bottom: 10px;
      border-radius: 20px;
    }
    > input[type="text"] {
      padding: 0px 15px 0px 15px;
    }
    > .auto-login {
      > .login-form__checkAutoLogin {
        color: white;
      }
    }
  }
}
