<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/mypage.css">
    <title>MyPage</title>
</head>
<body>
    
    <input type="hidden" id="userid" value=<%=id%> placeholder="userID">
    <input type="hidden" id="targetUserID" placeholder="targetID">
    <input type="hidden" id="selected-room" placeholder="selected-room">
    <input type="hidden" id="selected-room-name" placeholder="selected-room-name">
    <div class="container">
        <div class="nav-bar">
            <div class="my-photo flex-grow-2 me-3" ></div>
            <div class="btn"><a href="/chat" id="logout-btn">로그아웃</a></div>
        </div>
        <div class="row">
            <div class="col-4 friends-list-section">
                <div class="title">친구목록</div>
                <div class="friends-count">친구 0명</div>
                <img src="/img/addBtn.svg" class="btn" alt="" id="find-btn">
                <hr>
                <div class="friends-list">
                    <!-- 친구목록 동적 생성 -->
                </div>
            </div>
            <div class="col-4 chat-list-section">
                <div class="title">채팅방목록</div>
                <div class="chat-list">
                    <!-- 채팅방 목록 동적 생성 -->
                </div>
            </div>
            <div class="col-4 chat-room-section">
                <div class="emoji-box">
                    <div class="emoji-btn">😍</div>
                    <div class="emoji-btn">👍</div>
                    <div class="emoji-btn">🔥</div>
                </div>
                <div class="title">채팅방이름</div>
                <input type="text" id="find-chat" placeholder="채팅 검색" class="form-control">
                <div class="chat-room-menu">
                    <img src="/img/Back.svg" alt="" class="flex-grow-2">
                    <div class="chat-room-title flex-grow-1">채팅방이름</div>
                    <img src="/img/Options.svg" alt="" class="flex-grow-2">
                </div>
                <div class="chat-msg-box">
                    <!-- <div class="chat-msg other">상대 채팅메시지</div>
                    <div class="clear"></div>
                    <div class="chat-time chat-time-other">10:20AM</div>
                    <div class="clear"></div>

                    <div class="chat-msg mine">내 채팅메시지</div>
                    <div class="clear"></div>
                    <div class="chat-time chat-time-mine">10:20AM</div>
                    <div class="clear"></div> -->
                </div>
                <div class="input-wrap">
                    <input type="text" id="chat-input">
                    <img src="/img/SendBtn.svg" alt="" width="30" class="pb-1" id="send">
                    <img src="/img/EmojiBtn.svg" alt="" width="30" class="pb-1" id="emoji-box-btn">
                </div>
            </div>
        </div>
    </div>

    <!-- 모달창(친구찾기) -->
    <div class="search-modal">
        <div class="modal-content">
            <button type="button" class="btn-close mb-3" aria-label="Close" id="modal-close-btn"></button>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="찾을 친구의 이름을 검색해주세요" aria-label="Search" id="search-input">
              </form>
              <ul class="list-group">
                <!-- <li class="list-group-item">여기다 유저이름(지인혁 외 1명이 같은 친구입니다) <img src="/img/addBtn.svg" alt="" id="add-btn" data-userID="여기다유저아이디"></li> -->
              </ul>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/mypage.js"></script>
</body>
</html>