<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST SITE</title>
</head>
<body>
    <h1>Welcome to test site</h1>

<form method="POST" action="/uploadImg" enctype="multipart/form-data">
    <div>
        <label>1개의 파일만 업로드 해주세요</label>
        <input type="file" name="profile_img" required  />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>
</body>
</html>